body {
  max-width: 1440px;
  margin: auto;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: initial;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0px 50px 0px 50px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 61px;
  height: 19px;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 30%;
  height: 100%;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: solid;
  border-color: white;
}

nav a:hover {
  color: #0065fc;
  border-color: #0065fc;
}

.accueil {
  margin: 0px 50px 0px 50px;
}

.recherche {
  display: flex;
  width: 418px;
  height: 49px;
  border-radius: 0px 15px 15px 0px;
}

.dot {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
}

.bar {
  border: 1px solid #f2f2f2;
}

.bar input {
  max-width: 236px;
  border: none;
  height: 100%;
  outline: none;
  font-size: 18px;
}

.glass {
  width: 132px;
}

.fa-magnifying-glass {
  display: none;
}

.glass button {
  height: 100%;
  width: 100%;
  border: 1px solid #0065fc;
  border-radius: 0px 15px 15px 0px;
  background-color: #0065fc;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.filtres {
  display: flex;
  gap: 20px;
  margin-top: 32px;
  flex-wrap: wrap;
}

.filtres button {
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 17px;
  background-color: white;
  font-weight: 700;
  height: 50px;
}

.filtres-1 {
  display: flex;
  gap: 10px;
}

.filtres-2 {
  display: flex;
  gap: 10px;
}

#eco {
  width: 176px;
}

#fam {
  width: 136px;
}

#rom {
  width: 166px;
}

#pep {
  width: 166px;
}

.filtres i {
  color: #0065fc;
}

.filtres button:hover {
  background-color: #deebff;
}

.filtres h2 {
  font-size: 18px;
}

.info {
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.info i {
  color: #0065fc;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info p {
  margin-left: 11px;
}

main {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 38px 50px 38px 50px;
}

.hebergements {
  display: flex;
  flex-wrap: wrap;
  width: 871px;
  max-width: 924px;
  background-color: #f2f2f2;
  border-radius: 15px;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
}

.hebergements h2 {
  margin-left: 30px;
  font-weight: 700;
  font-size: 22px;
}

.hebergements h3 {
  margin-left: 30px;
  font-weight: 700;
  font-size: 18px;
}

.section-hebergements {
  display: flex;
  margin: 0px 30px 0px 30px;
  flex-wrap: wrap;
  gap: 3%;
}

.section-hebergements a {
  width: 30%;
  height: 208px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.section-hebergements img {
  object-fit: cover;
  width: 100%;
  height: 45%;
  border-radius: 20px 20px 0px 0px;
}

.container {
  margin-left: 15px;
}

.container h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 0px;
}

.container p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.fa-star {
  color: #0065fc;
  width: 12px;
  height: 12px;
  margin-top: 9px;
}

.hidden {
  color: #f2f2f2;
}

.populaire {
  width: 429px;
  max-width: 924px;
  background-color: #f2f2f2;
  border-radius: 15px;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
}

.section-populaire {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.section-populaire a {
  display: flex;
  margin-bottom: 10px;
  width: 369px;
  height: 144px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.titre-populaire {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 30px 0px 30px;
}

.titre-populaire h2 {
  font-size: 22px;
}

.fa-chart-line {
  color: #0065fc;
}

.section-populaire {
  display: flex;
}

.section-populaire img {
  object-fit: cover;
  width: 123px;
  height: 144px;
  border-radius: 20px 0px 0px 20px;
}

.container-2 {
  margin-left: 15px;
}

.container-2 h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.container-2 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.activités {
  margin-top: 65px;
  flex-grow: 0;
  margin: 0px 50px 0px 50px;
}

.activités h2 {
  margin-left: 15px;
}

.section-activités {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.section-activités a {
  width: 20%;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.section-activités h3 {
  margin-left: 20px;
}

.section-activités img {
  object-fit: cover;
  width: 100%;
  height: 380px;
  border-radius: 20px 20px 0px 0px;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;
  flex-wrap: wrap;
  margin: 65px 50px 0px 50px;
}

footer ul {
  list-style: none;
  list-style-position: inside;
}

footer ul li {
  margin-top: 15px;
}

@media screen and (max-width: 1024px) {
  .filtres h2 {
    width: 100%;
  }

  #eco {
    width: 166px;
  }

  #fam {
    width: 126px;
  }

  #rom {
    width: 156px;
  }

  #pep {
    width: 156px;
  }

  main {
    flex-wrap: wrap;
  }

  .hebergements {
    width: 100%;
    height: auto;
  }

  .section-hebergements {
    margin: 0px 20px 0px 20px;
  }

  .populaire {
    width: 100%;
    flex-grow: 0;
    height: auto;
  }

  .titre-populaire {
    justify-content: space-between;
  }

  .titre-populaire h2 {
    margin-left: 0px;
  }

  .fa-chart-line {
    margin-right: 20px;
  }

  .section-populaire {
    flex-wrap: nowrap;
    padding-bottom: 30px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0px 20px 0px 20px;
  }

  .section-populaire a {
    width: 30%;
  }

  .section-populaire a img {
    width: 40%;
  }

  .section-activités img {
    height: 200px;
  }
}

@media screen and (max-width: 767px) {
  header {
    flex-wrap: wrap;
    margin: 30px 0px 60px 0px;
  }

  .logo {
    width: 100%;
    justify-content: center;
  }

  nav {
    width: 100%;
  }

  nav a {
    width: 100%;
    border-bottom: solid #f2f2f2;
  }

  nav a:hover {
    color: #0065fc;
    border-top: none;
    border-color: #0065fc;
  }

  .accueil {
    margin: 0px 20px 0px 20px;
  }

  .recherche {
    width: auto;
  }

  .glass {
    width: 49px;
    background-color: #0065fc;
    border: 1px solid #0065fc;
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .glass button {
    display: none;
  }

  .fa-magnifying-glass {
    display: initial;
    color: white;
  }

  .filtres {
    gap: 20px;
    row-gap: 10px;
    justify-content: center;
  }

  #eco {
    width: 150px;
  }

  #fam {
    width: 150px;
  }

  #rom {
    width: 150px;
  }

  #pep {
    width: 150px;
  }

  main {
    flex-direction: column-reverse;
    margin: 50px 0px 50px 0px;
  }

  .hebergements {
    background-color: #ffffff;
  }

  .section-hebergements {
    gap: 15px;
    margin: 0px 0px 0px 0px;
    justify-content: center;
  }

  .section-hebergements a {
    width: 80%;
  }

  .section-populaire {
    gap: 15px;
    margin: 0px 0px 0px 0px;
  }

  .section-populaire a {
    width: 80%;
  }

  .activités {
    width: 100%;
    display: flex;
    margin: 0px 0px 0px 0px;
    flex-wrap: wrap;
  }

  .section-activités {
    justify-content: center;
    gap: 15px;
  }

  .section-activités a {
    width: 80%;
  }

  footer {
    display: flex;
    flex-direction: column;
    margin: 65px 0px 0px 0px;
  }
}
